.walletContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.walletHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walletCard {
  margin-top: 8px;
}

.walletCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.balanceList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.balanceItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}